@CHARSET "UTF-8";

#index_title{
	position:absolute;
	top:70px;
	left:46%;
	font:30px arial;
}

#index_form{
	position:absolute;
	top:120px; 
	left:32%;
	width:35%;
	height:250px
}

#index_query{
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	width:100%;
	height:30px;
	padding:1px 1px;
	padding:1px 1px 1px\9;
	font:19px arial;
	border-color:#9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align:center;
	
}

#index_go{
	position:absolute;
	top:40px;
	left:8px;
	right:8px;
	bottom:5px;
	font-size:14px;
	width:100%;
	height:100%;
	padding:0;
	border:0.1;
	background-img:url("/var/www/html/Search/Search/img/1.jpg");
	cursor:pointer
}